@model company.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-info">Details</h1>

<div class="border box-shadow p-3">
    <h4>Department</h4>
    <hr />
    <dl class="row border-bottom">
        <dt class = "col-sm-2 ">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    <div>
        <a  href="/Department/Edit/@Model.Id" class="btn btn-outline-info">Edita</a>
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>

