@model IEnumerable<company.Models.Department>

@{
    ViewData["Title"] = "Departments";
}
<style>
    tr, tr td, tr th {
        border: 1px solid black !important
    }

        tr th {
            background-color: #777 !important;
            color: white;
            text-align: center
        }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a href="/Department/Edit/@item.Id" class="btn btn-outline-primary">Edit</a>
                <a href="/Department/Details/@item.Id" class="btn btn-outline-info">Details</a>
                <a href="/Department/Delete/@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
