@*@model IEnumerable<company.Models.Employee>*@
@model PagedResult<Employee>
@inject AppDatabase db
@{
    ViewData["Title"] = "Employees";
}
@{ 
    ViewData["action"] = "Index";
    ViewData["controller"] = "Employee";
}

<style>
    tr , tr td, tr th {
        border: 1px solid black !important
    }
    tr th{
        background-color: #777 !important;
        color: white;
        text-align: center
    }
</style>
<h1 class="text-primary">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<form class="d-flex my-4" method="post">
    <input class="form-control me-5" name="searchText" type="search" placeholder="Search..." value="@ViewData["SearchText"]" aria-label="Search">
    <input class="btn btn-outline-success" value="Search" type="submit"/>
</form>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                <a class="text-white text-decoration-none" asp-action="Index" asp-route-sortText="@ViewData["sortFName"]" asp-route-pageNumber="@Model.PageNumber">First Name</a>
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                Tel
            </th>
            <th>
                <a class="text-white text-decoration-none" asp-action="Index" asp-route-sortText="@ViewData["sortSalary"]" asp-route-pageNumber="@Model.PageNumber">Salary</a>
            </th>
            <th>
                <a class="text-white text-decoration-none" asp-action="Index" asp-route-sortText="@ViewData["sortHireDate"]" asp-route-pageNumber="@Model.PageNumber">Hire Date</a>
            </th>
            <th>
                Image Path
            </th>
            <th>
                Department
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hire_Date)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image_Path)" class="img-fluid" width="100" />
            </td>
            <td>
                @db.Department.Where(d => d.Id == item.DepId).FirstOrDefault().Name
            </td>
            <td>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "" })
                </div>
            </td>
        </tr>
        }
    </tbody>
    <partial name="_Pager" view-data="@ViewData" model="@Model" />
</table>
